<article class="mw7 center ph3 ph5-ns tc br2 pv5 mb5 mv5-ns">
  <div class="center mw4 pa2">
    <a class="no-underline link dim pv2 gray" href="/auth/coinbase" title="">
      <h3 class="f5 dib v-mid ma0">Sign in</h3>
    </a>
  </div>
</article>
