body {
  font: 10px sans-serif;
  margin: 20px;
}


.swatch {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 8px 0 0;
}

.lbl {
  display: inline-block;
}

.line {
  display: inline-block;
  margin: 0 0 0 30px;
}

#legend {
  text-align: center;
}

.rickshaw_graph .detail {
  background: none;
}
