body {
  font: 10px sans-serif;
  margin: 20px;
}

#legend {
  width: 900px;
  margin: auto 0;
}

#legend li {
  display: inline-block;
}

#y_axis {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 40px;
}

#chart_container {
  position: relative;
}

.chart {
  position: relative;
  left: 40px;
}
