body {
  font: 10px sans-serif;
  margin: 20px;
}

#legend {
  float: right;
}

#y_axis {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 40px;
}

#chart_container {
  position: relative;
  float: left;
}

.chart {
  position: relative;
  left: 40px;
}
