<div class="page-header">
  <h1>Nat's Money <small>Saving for the future?</small></h1>
</div>

<div id="account_chart">
  <svg></svg>
</div>

<!--
<div id="week_chart"></div>

<div id="month_chart"></div>
-->
