<div class="well" style="max-width: 400px; margin: 0 auto 10px;">
  <p><img src="/img/banner.gif" class="img-rounded" alt="Money says you won't get in."></p>
  <p><a href="/auth/github" class="btn btn-large btn-block btn-warning">Login?</a></p>
</div>
