<!doctype html>
<html>
  <head>
    <title>Nat's Accounting</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/custom.css" rel="stylesheet">
  </head>
  <body>

    <div class="content">
      <%= yield %>
    </div>

    <script src="/js/jquery.js"></script>
    <script src="/js/jquery-ujs.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="/js/application.js?v=2"></script>
  </body>
</html>
