<!doctype html>
<html>
  <head>
    <title>Nat's Accounting</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/custom.css" rel="stylesheet">
  </head>
  <body>

    <div class="content">
      <%= yield %>
    </div>

    <script src="/js/jquery.js"></script>
    <script src="/js/jquery-ujs.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <!-- needed for months
    <script src="/js/d3.js"></script>
    -->
    <script src="/js/d3.v2.js"></script>
    <script src="/js/nv.d3.min.js"></script>
    <script src="/js/application.js?v=3"></script>
  </body>
</html>
