<!doctype html>
<html>
  <head>
    <title>Nat's Accounting</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/custom.css" rel="stylesheet">
  </head>
  <body>
    <%= yield %>

    <script src="/js/jquery.js"></script>
    <script src="/js/jquery-ujs.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="/js/application.js"></script>
  </body>
</html>
